/* .navbar {
  display: flex;
  flex-direction: column; 
  align-items: stretch; 
  gap: 2rem; 
  padding: 0; 
  background: #111;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px; 
  box-sizing: border-box; 
  overflow: hidden; 
} */

/* .navbar-link {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%; 
  text-align: left;
  padding: 15px 5px; 

  font-size: 1.2rem;
  font-weight: 500;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  box-sizing: border-box; 
  transition: background 0.3s;
}

.navbar-link:hover {
  background: #444;
} */
